<ps-card [caption]="'Pokémon list'" [contentPadding]="'0'">
  <ps-table [tableId]="'pokemon-list'" [dataSource]="tds" [layout]="'flat'">
    <ng-container *psTableListActions="let selection">
      <button [disabled]="!selection.length" mat-menu-item (click)="delete(selection)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>
    <ng-container *psTableRowActions="let row">
      <button type="button" mat-menu-item (click)="delete([row])">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>
    <ps-table-column [property]="'id'" [header]="'ID'">
      <ng-container *psTableColumnTemplate="let row">
        <a [routerLink]="[row.id]">{{ row.id }}</a>
      </ng-container>
    </ps-table-column>
    <ps-table-column [property]="'name'" [header]="'Name'" [mandatory]="true">
      <ng-container *psTableColumnTemplate="let row">
        <a [routerLink]="[row.name]">{{ row.name }}</a>
      </ng-container>
    </ps-table-column>
    <ps-table-column [property]="'_sprite'" [header]="'Sprite'" [sortable]="false">
      <ng-container *psTableColumnTemplate="let row">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + row.id + '.png'"/>
      </ng-container>
    </ps-table-column>
    <ps-table-column [property]="'url'" [header]="'Pokémon-Api-Url'"></ps-table-column>
  </ps-table>
</ps-card>
